@use '../utils/variables' as *;

.card {
  box-sizing: border-box;
  width: $card-width;
  padding: $card-padding;
  border-radius: $card-radius;
  background-color: #fff;

  &__image {
    display: block;
    width: $card-image-width;
    margin: 0 auto;
  }

  &__description {
    margin: 40px 0 0;
    font-size: 12px;
    font-weight: 500;
    line-height: 18px;
    color: $main-accent;
  }

  &__product-code {
    font-size: 10px;
    font-weight: 400;
    line-height: 14px;
    color: $secondary;
    display: inline-block;
    padding: 0 0 16px;
  }

  &__rating {
    display: flex;
    justify-content: space-between;
  }

  &__reviews {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: $main-accent;
  }

  &__pricing {
    display: flex;
    justify-content: space-between;
    padding: 24px 0 16px;
  }

  &__label {
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 12px;
    line-height: 18px;
    color: $secondary;
  }

  &__value {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 18px;
  }

  &__buy-button {
    font-family: Roboto, sans-serif;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    text-transform: uppercase;

    width: 100%;
    height: $button-height;
    border: 1px solid #f3f3f3;
    border-radius: 5px;
    background-color: $blue-accent;
    color: $white;

    &:hover {
      background-color: $white;
      color: $blue-accent;
      border-color: $blue-accent;
      cursor: pointer;
    }
  }
}
