// Colors
$main-accent: #060b35;
$secondary: #616070;
$blue-accent: #00acdc;
$white: #fff;
$card-width: 200px;
$card-padding: 32px 16px 16px;
$card-radius: 5px;
$card-image-width: 90%;
$button-height: 40px;
$star-size: 16px;
$star-gap: 4px;
